body {
    margin: 0;
    padding: 20px;
    background-image: url(../images/fond_profane.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
  /* font-family: "Danger-Night";
  src: url(../font/Danger\ Night\ -\ Personal\ Use.ttf) format("truetype"); */

  font-family: "Thunder Kingdom";
  src: url('../fonts/thunder-kingdom.ttf') format("truetype");
  
  font-family: "Bazelle";
  src: url('../font/bazelle.ttf') format("truetype");
}


#logo {
    position: relative;
    left: 45%;
    margin: -85px;
}

h1 {
    font-family: "Thunder Kingdom";
    text-align: center;
    font-size: 3.5em;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    height: 120px;
}

.form-group button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

/* Barre de navigation */

nav {
    text-align: center;
}

ul {
    display: inline-flex;
    text-decoration: none;
}

li {
  font-size: 20px;
  z-index: 1;
}

/* Contenu principal */

ul {
    list-style: none;
    display: inline-flex;
}

li, h2, h3 {
    font-family: "Thunder Kingdom";
}

a {
    text-decoration: none;
    margin: 1em;
}

a:hover {
    text-decoration: underline;
    color:#700000
}

p, li, h1, h2, h3, header, label, a {
    color: white;
}

p {
  font-family: "Thunder Kingdom";
}


  /* Footer */

  footer {
    background: rgba(255, 255, 255, 1);
  }

  .footer_text{
    color: #000000;
    font-size: 0.8em;
  }

  .ul-footer {
    display: inline-block;
    margin: 1em;
  }


  .footer_div{
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: space-between;
    position: relative;
    font-size: 1em;
  }

  #reseaux{
    margin: 3%;
    margin-left: 15%;
    text-decoration: none;  
  }

  footer div a{
    text-decoration: none;
    color: #000000;
  }

  #mentions{
    margin: 3%;
    margin-left: 8%;
  }

  #avertissement{
    margin: 3%;
    margin-right: 10%;
  }

/* contenu*/

  .presentation h3 {
    margin : 4% 10% 1% 10%;
    text-align: center;
    font-family: "Thunder Kingdom";
    font-size: 25px;
  }

   .animation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
  }

#animation:hover {
  margin-top: 2%;
  box-shadow: 9px  9px 18px #d1d1d1,
    -9px -9px 18px #ffffff;
    transition-duration: 0.5s;
}
  
.bouteille {
  display: flex;
  align-items: center;
  justify-content: center;
}