* {
    margin:0;
    padding: 0;
}

body {
background-image: url(../images/fond_profane.png);
background-size: cover;
background-repeat: no-repeat;
/* background-color: rgb(0, 0, 0); */

/* Initialisation des polices */
}

@font-face {
    font-family: "Danger-Night";
    src: url(../font/Danger\ Night\ -\ Personal\ Use.ttf) format("truetype");

    font-family: "Thunder Kingdom";
    src: url(../font/Thunder\ Kingdom.ttf) format("truetype");
    
    font-family: "Bazelle";
    src: url(../font/Bazelle.ttf) format("truetype");
}

/* Barre de navigation */

nav {
    text-align: center;
}

ul {
    display: inline-flex;
    text-decoration: none;
}

li {
  font-size: 20px;
  z-index: 1;
}

/* Contenu principal */

img {
  position: relative;
  left: 45%;
  margin: -85px;
}

h1 {
    font-family: "Danger-Night";
    text-align: center;
    font-size: 5em;
}

ul {
    list-style: none;
    display: inline-flex;
}

li, h2, h3 {
    font-family: "Thunder Kingdom";
}

a {
    text-decoration: none;
    margin: 1em;
}

a:hover {
    text-decoration: underline;
    color:#700000;
}

p, li, h1, h2, h3, header, label, a {
    color: white;
}

p {
  font-family: "Thunder Kingdom";
}

/* Formulaire */

form {
    margin: 5em auto;
    width: 460px;
    padding: 1em;
    font-family: "Thunder Kingdom";
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 125px;
    text-align: right;
  }
  
  input, textarea {
    font-family: "Thunder Kingdom";
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
    text-align: center;
  }
  
  button {
    margin-left: .5em;
    font-family: "Thunder Kingdom";
  }

  /* Footer */

  footer {
    background: rgba(255, 255, 255, 1);
  }

  .footer_text{
    color: #000000;
    font-size: 0.8em;
  }

  .ul-footer {
    display: inline-block;
    margin: 1em;
  }


  .footer_div{
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: space-between;
    position: relative;
    font-size: 1em;
  }

  #reseaux{
    margin: 3%;
    margin-left: 15%;
    text-decoration: none;  
  }

  footer div a{
    text-decoration: none;
    color: #000000;
  }

  #mentions{
    margin: 3%;
    margin-left: 8%;
  }

  #avertissement{
    margin: 3%;
    margin-right: 10%;
  }