<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Bières | Profane</title>
        <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    </head>

    <body>

        <h1>PROFANE</h1>
        
        <header>
            <nav>
                <ul>
                    <li>Accueil</li>
                    <li>Nos bières</li>
                    <li>Boutique</li>
                    <li>Commandes</li>
                </ul>
            </nav>
        </header>

        <div class="biere">
            <p>Anarchie Conforme</p>
        </div>

        <div class="biere">
            <p>biere1</p>
        </div>

        <div class="biere">
            <p>biere2</p>
        </div>

        <div class="biere">
            <p>biere3</p>
        </div>

        <div class="biere">
            <p>biere4</p>
        </div>

        <footer>

        </footer>
    </body>
</html>

