<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Bières | Profane</title>
        <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    </head>

    <body>

        <h1>PROFANE</h1>
        
        <header>
            <nav class="menu">
                <div id="accueil"> <a href=""><img id="image" src=""></a> </div>
                <ul>
                    <li id="mixtures"><a href=""> Nos mixtures</a></li>
                    <li id="histoire"><a href="">Histoire</a></li>
                    <li id="commandes"><a href="">  Commandes</a></li>
                    <li id="contacts"><a href="">Contact</a></li>
                </ul>
            </nav>
        </header>

        <!-- Formulaire de contact -->
        <form action="" method="">
            <div>
                <label for="nom">Nom: </label>
                <input type="text" name="nom" id="nom">
            </div>
            <div>
                <label for="prenom">Prénom: </label>
                <input type="text" name="prenom" id="prenom">
            </div>
            <div>
                <label for="adresse">Adresse: </label>
                <input type="text" name="adresse" id="adresse">
            </div>
            <div>
                <label for="ville">Ville: </label>
                <input type="text" name="ville" id="ville">
            </div>
            <div>
                <label for="mail">Adresse mail: </label>
                <input type="text" name="mail" id="mail">
            </div>
            <div>
                <label for="tel">Numéro de téléphone: </label>
                <input type="text" name="tel" id="tel">
            </div>
            <div class="button">
                <button type="submit">Confirmer</button>
            </div>
        </form>    


        <footer>
            <div>
                <h3>Nos réseaux :</h3>
                <ul class="ul-footer">
                    <li>
                        <img src="<!--logo Instagram-->" alt="Logo Instagram">
                        Instagram
                    </li>
                    <li>
                        <img src="<!--logo twitter-->" alt="Logo Twitter">
                        Twitter
                    </li>
                    <li>
                        <img src="<!--logo youtube-->" alt="Logo YouTube">
                        YouTube
                    </li>
                </ul>
            </div>
            <div>
                <h3>Mentions légales :</h3>
                <ul class="ul-footer">
                    <li>Politique de confidentialité</li>
                    <li>Conditions générales</li>
                    <li>Conditions d'utilisation</li>
                    <li>Mentions légales</li>
                </ul>
            </div>
            <div>
                <p><strong>L’abus d’alcool est dangeraux pour la santé.</strong> La consommation d’alcool est interdite aux mineurs 
                    et déconseillée aux femmes enceintes.</br>© Tous droits réservés Profane.fr</p>
            </div>
        </footer>
    </body>
</html>

